html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
}

div.bubble {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 500px;
    border: none;
    transition: 2s;
    transition-timing-function: linear;
    mix-blend-mode: screen;
}