/* Chat container */
#chat-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#message-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
    top: 10px;
    width: 100%;
    margin: auto;
}
#message-container::-webkit-scrollbar{
    display: none;
}

/* Input box */
#input {
    position: absolute;
    bottom: 15px;
    right: 0;
    left: 0;
    margin: auto;
    height: 70px;
    width: 60%;
    opacity: 0.5;
    transition: 0.2s;
}

#input:hover,
#input:has(:focus) {
    opacity: 1;
}

#textinput {
    position: absolute;
    bottom: 0;
    width: Calc(100% - 180px);
    min-height: 44px;
    left: 0;
    border-radius: 20px;
    border: none !important;
    outline: none;
    cursor: text;
    padding-left: 75px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 35px;
    background: rgba(150, 150, 150, 0.46);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    color: rgba(232, 232, 232, 0.654);
    font-family: 'Mallanna';
    font-size: 22px;
    transition-duration: 0.2s;
}

#textinput:empty::before {
    content: 'Type a message';
    color: rgba(211, 211, 211, 0.48);
    font-family: 'Mallanna';
    font-size: 22px;
}

#characterinput {
    position: absolute;
    bottom: 0;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    border: none;
    margin-bottom: 7.5px;
    margin-left: 7.5px;
    background: rgba(223, 223, 223, 0.12);
    color: rgba(232, 232, 232, 0.654);
    font-family: 'Mallanna';
    font-size: 28px;
    cursor: pointer;
    transition: 0.2s;
}

#characterinput:hover {
    background: rgba(223, 223, 223, 0.387);
}

#textsubmit {
    position: absolute;
    right: 0;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 35px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 64px;
    background: rgba(231, 161, 255, 0.24);
    background-image: url("../img/send.svg");
    background-size: contain;
    background-position: center;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

#textsubmit:hover {
    background-color: rgba(231, 161, 255, 0.548);
}

#textsubmit:active {
    background-color: rgba(231, 161, 255, 0.777);
}

/* Message bubbles */
.chat-bubble {
    margin-left: 20%;
    margin-right: 20%;
    padding: 8px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 17px;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
    overflow-wrap: anywhere;
    transition: 0.2s;
    opacity: 0;
    border-radius: 26px;
    background: rgba(82, 88, 243, 0.63);
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    animation: fadeIn 0.2s linear forwards;
    color: #D3D3D3;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Mallanna';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chat-bubble:hover {
    background: rgba(82, 87, 243, 0.983);
}

.chat-time {
    color: rgba(196, 196, 196, 0.71);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Mallanna;
    font-size: small;
    margin-left: calc(20% + 10px);
    opacity: 0;
    animation: fadeIn 0.2s linear forwards;
}

.chat-profile {
    width: 49.5px;
    height: 49.5px;
    float: left;
    margin-left: calc(20% - 65px);
    border-radius: 64px;
    background: rgba(109, 186, 211, 0.32);
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    opacity: 0;
    animation: fadeIn 0.2s linear forwards;
    font-size: 30px;
    line-height: 49.5px;
    text-align: center;
    color: rgb(189, 189, 189);
    cursor: default;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}